gymnasium
gymnasium[classic-control]
gymnasium[mujoco]
gymnasium-robotics
mujoco
jax
jaxlib
flax
matplotlib
tk
pandas
numpy
jupyter
matplotlib
scipy
jaxtyping 
kagglehub 
treescope
transformers 
sentencepiece
datasets
